<template>
  <div class="col-md-12 col-sm-12" style="padding-top:12px">
    <fieldset class="scheduler-border">
      <legend class='legli'>
        Legend
      </legend>
      <div class="col-md-3 col-sm-3 col_sp" v-for="(legend, i) in JSON.parse(legendList)">
        <i class="glyphicon glyphicon-stop level-legend" :style="{ '--color': legend.color, '--background': legend.color}"></i>
        <span class="fil_val" style="font-size: 12px;">{{legend.name}}</span>
      </div>
    </fieldset>
  </div>
</template>

<script>
export default {
  props: ['legendList'],
  data: function() {
    return {

    }
  },
  mounted() {
    console.log("Archito Testing");
    console.log(JSON.parse(this.legendList));
  }
}
</script>