/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body{
	    font-family: 'Montserrat', sans-serif;
}



select[multiple], select[size]
	{
		display:none;
	}

.export-main{
	    top: -50px!important;
}

.pan_head{
	color: #ffffff;
    background-color: #813588;
    border-color: #777;
	border-radius: 5px 5px 0px 0px;
}

.arr2_pt {
font-size: 16px;
font-weight: 600;
color: #813588;
cursor:pointer;
}

.fb-timeliner
{
background-color: #ecf0f5;
}
.click_alloc{
	cursor:pointer;
}


.fb-timeliner ul li span {
    color: #7a7a7a;
    border-left: 4px solid #7a7a7a;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fb-timeliner ul li span:hover {
    position: relative;
	color:#8BC34A;
	border-left: 4px solid #8BC34A;
}

/* .fb-timeliner ul li span[title]:hover { */
	/* content: attr(title); */
     /* white-space: nowrap; */
     /* z-index: 20px; */
     /* background:red; */
/* } */

.fb-timeliner h2 {
    margin-top: 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 2px;
    font-weight: 300;
    background-color: #8BC34A;
	color: #fff;
	text-align: center;
 }

 .fb-timeliner ul li {
    margin-bottom: 3px;
	    box-sizing: border-box;
}

.fb-timeliner ul  {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
	max-height:300px;
	overflow-y:scroll;
}

.p_box{
	     border: 1px solid #ccc;
	     border-radius: 0px 0px 10px 10px;
}

.fg_sty{
	display:table;
}
.gly_c_sty{
	display:table-cell;
}

.form_c_sty{

	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	display:table-cell;
	border:1px solid #ccc;
}


@media(min-width: 768px)
{
.modal-dialog {
width: 70%;
}

.asdklk_qw {
width: 50%;
}
}



.entry{

	color: #813588;
}

.half_w
{
	height: 66px;

}

.frozen
{
	pointer-events: none;
	opacity:0.6;
}

.ev-c1
{
	font-weight: bold;
	color: #813588;
	/* margin-bottom: 25px; */
}

.ev-c2
{
	font-weight: bold;
	color: #813588;
	/* margin-top: 25px; */
}
.al_msg{
	color: red;
	font-size: 11px;
}

@media(max-width: 991px)
{
.top_bar_2 {
    text-align: center;
}
 .seven-cols .col-md-1
   {
    width: 100%;
	    margin-bottom: 20px;
   }



}

.for_pass
{
	    color: #4285f4;
		font-weight: 400;
    text-transform: none;
}

.curr_dt_view:hover, .curr_dt_view:focus, .curr_dt_view:active,.curr_dt_view:active:focus
{
	color: #813588;
    transform: scale(1.2);
}
.m_col:hover, .m_col:focus, .m_col:active,.m_col:active:focus
{
	background-color: lightgrey!important;
    color: #343539;
	border: 1px solid #813588;

}

.mp_col:hover, .mp_col:focus, .mp_col:active,.mp_col:active:focus
{
	background-color: lightgrey!important;
    color: #343539;
	border: 1px solid #813588;

}

.for_pass:hover, .for_pass:focus, .for_pass:active,.for_pass:active:focus
{
	cursor:pointer;
	text-decoration: underline;
}

 .f_fnt{
	 margin-right:4px;
	 font-size: 12px;
 }

 .iss_styl{
	 vertical-align: top;
	     margin-top: 0px!important;
 }

  .f1_fnt{
	 margin-left:4px;
	 font-size: 12px;
 }

.l_font_fix_3{
	font-size: 12px;
    color: #813588;
    margin-bottom: 5px;
}

.l_font_fix_1{
	font-size: 12px;
    color: #813588;
	font-weight:700;
    margin-bottom: 5px;
}

.l_font_fix{
	font-size: 10px;
    color: #000;
	font-weight:700;
}

.l_font_fix_2{
	font-size: 12px;
    color: #000000;
	font-weight:normal;
    margin-bottom: 5px;
}


.l_font_fix_4{
	color: #2196F3;
	 margin-bottom: 5px;
	font-size: 12px;
}
.l_font_fix_5{
	color: #E91E63;
	 margin-bottom: 5px;
	font-size: 12px;
}

.row_style
{
	margin-top: 1%;
    margin-bottom: 2%;
	text-align: center;
}

.row_style_1
{

    margin: 2%;
}

fieldset.scheduler-border {
border: 1px groove #ddd !important;
    padding: 0 1.4em 0.4em !important;
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow: 0px 0px 0px 0px #000;
     box-shadow: 0px 0px 0px 0px #000;
    /* background-color: white; */
    text-align: left;

}

.legli{
	font-size: 14px;
    border-bottom: 0px;
    font-weight: bold;
	margin:0px;
	    width: auto;
	    padding: 0px 4px;
}


.date_fm
{
	border: 0px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    outline: 0px;
	width: 60%;
	max-width: 100%;
	text-align: center;
}

.sol{
	height: 150px;
    overflow-y: auto;
	overflow-x: hidden;
}

.row_style_2
{
    margin: 1% 1% 0 1%;
	text-align:center;
}


.row_style_4
{
    margin: 1% 1% 0 1%;
}
.row_style_3
{
    margin: 1%;
	text-align:center;
}


.ch_tog{
	    vertical-align: top;
}

.tbldata
{
 width: 100%;
 vertical-align: top;
 table-layout: fixed;

}



.td_al {
    vertical-align: top;
}

.event-lt {
    width:100%;
    height: 20px;
    font-size: 12px;
    color: black;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: table-cell;
    position: relative;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 0px solid transparent;
    border-left-width: 8px;

 outline: 1px solid lightgrey;
 border-radius:0;
}

/* .btn { */
    /* /* background-color: white; */
    /* width: 100%; */

/* } */





@media (min-width: 993px) {
  .seven-cols .col-md-1
  {
    width: 14.285714285714285714285714285714%;
	float: left;

  }
    .divposition
  {
	    width: 75%;
  }
  .ic_cont{
	   box-shadow: 0 0 1em lightgrey;
    border: 1px solid lightgrey;
	min-height: 400px;
   }
   .ic_cont1{
	box-shadow: 0 0 1em lightgrey;
    border: 1px solid lightgrey;
}
.add_prio{
	position:absolute;
	left:0;
}
}

.top_bar_2{
	width: 100%;
	/*background-color: #5ad033;*/
	background-color: #ffffff;
	border-bottom: 4px solid #813588;
}



.form_wrap {
    width: 80%;
    /* height: 50%; */
    /* position: relative; */
    /* top: 25%; */
	margin-top:30px;
}


.entry:hover, .entry:focus, .entry:active,.entry:active:focus
{
	color: #ffffff;
    background-color: rgba(129, 53, 137, 0.5);
}

.legend-li {
    /* float: left; */
    /* margin: 1% 0; */
	text-align:left;
}

.legend-span
{
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 4px;
}

.t_edit
{
	  font-size:16px;
	  color:#9e9e9e;
	  cursor:pointer;
}

.t_edit:hover, .t_edit:focus, .t_edit:active,.t_edit:active:focus
{
	color: #813588;
	transform:scale(1.1);
}

.add_but
{
	color: #ffffff;
	 background-color: #813588;
}

.add_but:hover, .add_but:focus, .add_but:active,.add_but:active:focus
{
	color: #ffffff;
    background-color: rgba(129, 53, 137, 0.5);
}


.st_hr1 {
    display: block;
    height: 3px;
    border: 0;
    border-bottom: 2px solid #813588;
	margin:0px;
}


.st_hr2 {
    display: block;
    height: 3px;
    border: 0;
    border-bottom: 2px solid #ccc;
    margin: 0px;
}

.st_hr3 {
    display: block;
    height: 3px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0px;
	    padding-bottom: 40px;
}


.prof_img
{
	    width: 30px;
    height: 30px;
    margin: 10px auto 0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

.ic_cont,.ic_cont1{
		    margin: 10px;
}
.m_row
{
	    /* padding: 4%; */
		/* margin-top:1%; */
}

.mp_row1
{
	margin-top:1%;
}

.ma_row
{
	    padding: 1%;
		margin:0px;
}

.tab-cell {

		padding-right: 0px;
		padding-left: 0px;
		font-size: medium;
		text-align: left;
		vertical-align: top;
		height: 155px;
		white-space: normal;
		word-wrap:break-word;
		border: 1px solid rgba(211, 211, 211, 0.34);
}


.week_cell{
	vertical-align: middle;
	    font-weight: bold;
	text-align: center;
	font-size: small;
	background-color: #777;
    color: white;
    border: 1px solid #777;
	/* border: 1pt solid f5f5f5; */
	padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 0px;
	    height: 100%;
}


@media (max-width: 992px){
   .divposition
  {
	    width: 82%;
  }
}

.divposition
{
	margin:0px;
position: fixed;
top: 0px;
z-index:2;
background-color:white;
}

a.arr,a.arr2
{
    font-size: 16px;
    font-weight: 600;
    color: #813588;
}


a.arr3
{
    font-size: 18px;
    font-weight: 700;
    color: #813588;
}

a.arr3:hover{
    cursor: pointer;
}

a.arr:hover,a.arr2:hover{
    cursor: pointer;
}

	.week{
		  height: 30px;
  position: relative;
  text-align: center;
  white-space: normal;
  word-wrap:break-word;

}

	.week_log{
  /*height: 30px;*/
  position: relative;
  text-align: center;
  white-space: normal;
  word-wrap:break-word;

}

.md_t{
	    margin: 0px 5%;
		display: inline-block;
}

.md_t:hover, .md_t:focus, .md_t:active,.md_t:active:focus{
	transform:scale(1.1);
	cursor:pointer;
}

.h_imh{
	font-size:20px;
	color:#813588;
}

.mfkdsf{
	color:#813588;
	font-size: 17px;
    font-weight: 700;
}

.mp_col{
	text-align:center;
	border: 1px solid #000;
    background-color: #813588;
    color: white;
	cursor:pointer;
	padding:1%;
	    /* width: 25%; */
    /* margin: 5px; */
	    margin: 0px 15% 5% 15%;
	}


.m_col{
	border: 1px solid #000;
	text-align:center;
    background-color: #813588;
    color: white;
	cursor:pointer;
	padding:1%;
	 margin: 0px 5% 2% 5%;
    /* margin: 5px; */
	}

	.m_col_act{
	background-color: lightgrey!important;
    color: #343539;
	border: 1px solid #813588;
	}

.img_lo {
    filter: invert(1);
	 -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
	width:15%;
	margin-top:2%;
}

.img_hi {

	/* width:15%; */
	font-size: 20px;
	margin-top:2%;
}

.edu2_counter_des {
    float: left;
	color:white;
    width: 33.33%;
    border-right: 1px solid rgba(255, 255, 255, 0.31);
    text-align: center;
    /* padding: 30px 0; */
}

@media (max-width: 767px)
{
	.edu2_counter_des {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px rgba(255,255,255,0.3);
}

.sty_llk{
	border:1px solid #ccc;
}
/* .m_col>h5{ */
	/* padding-bottom:10px; */
/* } */

}

.img_l{
	    font-size: 15px;
}

.user_p{
	cursor:pointer;
}
/* .mp_col>h5{ */
	/* padding-bottom:10px; */
/* } */

.edu2_counter_wrap {
    background-color: #2d2e32;
    position: relative;
    z-index: 2;
    /* padding: 30px 0px; */
}

.edu2_counter_des:last-child {
    border: medium none;
}


.day-num-sm
{
	    width: 100%;
		font-size: medium;
		padding-top:3px;
    padding-right:3px;
    padding-bottom:3px;
    padding-left:3px;
	background-color: #f5f5f5;
}
.cur-month
{
	  font-size: large;
	  font-weight:600;
		color:#813588;
}

.cur-month1
{

	  font-weight:600;
		color: #2d2e32;
		font-size: 22px;
}

.curr_dt_view
{
	    color: #2e2f33;
		cursor:pointer;
}


.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.col_sp{
	padding:0px;
}


tr.selected td {
background-color: #dff0d8!important;
}


.hid{
	margin:0px 2%;
	padding-top:10px;
	    padding-bottom: 10px;
	border:1px solid #ccc;
	}

.hid1{
	margin:0px 2% ;
	}
.tab_stages {
    border: 1px solid transparent;
    outline: 0;
	/* float:left; */
    background-color: rgba(158, 158, 158, 0.45);
}

.tab_dis_selec{
	    border: 1px solid #777;
    background-color:  #813588;
    color: white;
}


.pagination .active>a{
    /* -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); */
    /* box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); */
    color:#fff;
	    background-color:#ff6f00;
		border:1px solid #ddd;
}

.pagination>li>a{
outline:0;
 background-color:transparent;
    color:#212529;
	cursor:pointer;
}

.pagination>li>a:hover{
    background-color:#eee;
}
.pagination>li>a:focus{
    background-color:transparent;
}

.pagination .active>a:hover,.pagination .active>a:focus{
    background-color:#ff6f00;
	color:white;
}

.stab_stages {
    border: 1px solid transparent;
    outline: 0;
	/* float:left; */
    background-color: rgba(158, 158, 158, 0.45);
}



.stab_stages_2{
    border: 1px solid transparent;
    outline: 0;
    background-color: rgba(158, 158, 158, 0.45);
}

.in_stages{
   background-color: white;
   border-bottom: 2px solid #9E9E9E;
   font-weight:700;
       border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.stab_stages_1 {
    border: 1px solid transparent;
    outline: 0;
    background-color: rgba(158, 158, 158, 0.45);
}
.stab_dis_selec{
	    border: 1px solid #777;
    background-color:  #813588;
    color: white;
}

.month_tab
{
	    height: 80%;
    overflow: auto;
}

.style1_pop{
	    border-top: none;
    border-bottom: 1px solid #000000;
    padding-top: 12px;
	margin-bottom: 5px;
}

/* .popover-title { */
    /* text-align: center; */
    /* /* background: #ffff99; */ */
    /* color: white; */
    /* font-size: 12px; */
    /* font-family: 'Montserrat', sans-serif; */
/* } */

.t_col_0
{
	border-left-color:rgb(244, 67, 54);
	background:rgba(244, 67, 54, 0.6);
}
.t_col_1{
	border-left-color:rgb(255, 152, 0);
	background:rgba(255, 152, 0, 0.6);
}
.t_col_3{
	border-left-color:rgb(3, 169, 244);
	background:rgba(3, 169, 244, 0.6);
}
.t_col_2{
	border-left-color:rgb(233, 30, 99);
	background:rgba(233, 30, 99,0.6);
}
.t_col_4{
	border-left-color:rgb(76, 175, 80);
	background:rgba(76, 175, 80,0.6);
}

.but_filter{
	cursor:pointer;
	margin: 0px 2px;
	padding: 5px;
	 border: 2px solid #777;
}

.approve_st{
	cursor:pointer;
	margin: 0px 2px;
	padding: 5px;
}

.r_fixedSizeRow{
  width: 20%;
}


.approve_st:hover, .approve_st:focus, .approve_st:active,.approve_st:active:focus{
	  color: #212529;
    background-color: #8BC34A;
}

/* .badge-warning { */
    /* color: #212529; */
	/* border: 2px solid #CDDC39; */
    /* background-color: #CDDC39; */
/* } */
.badge-info {
          color: #813588;
    background-color: #ffffff;
    border: 1px solid #813588;
	    padding: 2px 7px;
}


.t_stat_0
{
	color:#F44336;
	background:#F44336;
	border: 1px solid #ccc;
}

.is_approve{
	color: #4caf50;
    font-weight: 700;
    background-color: white;
    border: 1px solid;
}


.gre_but{
	color: #4caf50;
    font-weight: 700;
    background-color: white;
    border: 1px solid;
}

.ui-datepicker{
	z-index:25!important;
}

.red_but{
	color: #f44336;
    font-weight: 700;
    background-color: white;
    border: 1px solid;
}

.org_but{
	color: #E91E63;
    font-weight: 700;
    background-color: white;
    border: 1px solid;
}
.org_but:hover, .org_but:focus, .org_but:active,.org_but:active:focus
{
	/* opacity:0.7; */
	background-color: #E91E63;
	color:white;
}

.blue_but{
	color: #2196F3;
    font-weight: 700;
    background-color: white;
    border: 1px solid;
}
.blue_but:hover, .blue_but:focus, .blue_but:active,.blue_but:active:focus
{
	/* opacity:0.7; */
	background-color: #2196F3;
	color:white;
}
.gre_but:hover, .gre_but:focus, .gre_but:active,.gre_but:active:focus
{
	/* opacity:0.7; */
	background-color: #4caf50;
	color:white;
}

.is_approve:hover, .is_approve:focus, .is_approve:active,.is_approve:active:focus
{
	/* opacity:0.7; */
	background-color: #4caf50;
	color:white;
}

.red_but:hover, .red_but:focus, .red_but:active,.red_but:active:focus
{
	/* opacity:0.7; */
	background-color: #f44336;
	color:white;
}

.t_stat_1{
	color:#ff9800;
	background:#ff9800;
	border: 1px solid #ccc;
}
.t_stat_3{
	color:#03A9F4;
	background:#03A9F4;
	border: 1px solid #ccc;
}
.t_stat_2{
	color:#E91E63;
	background:#E91E63;
	border: 1px solid #ccc;
}
.t_stat_4{
	color:#4CAF50;
	background:#4CAF50;
	border: 1px solid #ccc;
}

.emp-cell {

		padding-right: 0px;
		padding-left: 0px;
		font-size: medium;
		text-align: left;
		vertical-align: top;
		height: 400px;
		white-space: normal;
		word-wrap:break-word;
		border: 1px solid rgba(211, 211, 211, 0.34);
}


.em_lv_1{
	color:rgb(255, 152, 0);
	background:rgb(255, 152, 0);
	border: 1px solid #ccc;
}

.em_lv_2{
	color:rgb(244, 67, 54);
	background:rgb(244, 67, 54);
	border: 1px solid #ccc;
}
.em_lv_3{
	color:#03A9F4;
	background:#03A9F4;
	border: 1px solid #ccc;
}
.em_lv_4{
	color:#4CAF50;
	background:#4CAF50;
	border: 1px solid #ccc;
}


.emp_a{
	color:#E91E63;
	background:#E91E63;
	border: 1px solid #ccc;
	border-radius: 25%;
}

.emp_p{
	color:#4CAF50;
	background:#4CAF50;
	border: 1px solid #ccc;
	border-radius: 25%;
}

.h6_sty
{
	    height: 20px;
    overflow-y: auto;
	    font-size: 12px;
    padding-bottom: 5px;
	border-bottom:1px solid #ccc;
}


.add_prio{
    /* width: 93px; */
	color:white;
    border-radius: 0px 10px 10px 0px;
    /* margin-left: 10px; */
    padding: 5px 10px;
    font-weight: normal;
	}

.highl{

    height: 22px;
    width: 25px;
    text-align: center;
    background: #2d2e32;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.g_sign{
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.highl_mob{
    height: 22px;
    width: 84px;
    text-align: center;
    background: #2d2e32;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.act_nm_break{
	word-break:break-all;
}

.day-num
{
	    width: 100%;
		font-size: medium;
		padding-top:3px;
    padding-right:3px;
    padding-bottom:3px;
    padding-left:3px;
	background-color: #f5f5f5;

}


.edu2_counter_wrap:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url(counter-bg.png);
    z-index: -1;
}

div.deadline {
    position: absolute;
	/* border-radius: 12px; */
	/* border: 2px solid #4cbd0f; */
    /* background-color: #4cbd0f; */
	/* -moz-box-sizing: border-box; */
	box-sizing: border-box;

	width: 22px;
	height: 22px;
	margin-left: -11px;
	margin-top: 6px;
	z-index: 1;
	/* background: url("common/deadline_icon.png") center no-repeat; */
}

div.deadline:before {
  position: absolute;
  top: 1px;
  left: 5px;
  content:"\e089";
  font-family:"Glyphicons Halflings";
  color:  #6f0f20;
  /* line-height:1; */
  /* margin:10px; */
  font-size: 22px;
  display:inline-block;
}

div.actual-start-date {
    position: absolute;
	border-radius: 12px;
	/* border: 2px solid #4cbd0f; */
    /* background-color:  #1a75ff; */
	/* -moz-box-sizing: border-box; */
	box-sizing: border-box;

	width: 22px;
	height: 22px;
	margin-left: -11px;
	margin-top: 6px;
	z-index: 1;
	/* background: url("common/deadline_icon.png") center no-repeat; */
}

div.actual-start-date:before {
  position: absolute;
  top: -2px;
  left: 5px;
  content:"\e029";
  font-family:"Glyphicons Halflings";
  color:  #b53249;
  /* line-height:1; */
  /* margin:10px; */
  font-size: 22px;
  display:inline-block;
}

div.actual-end-date {
    position: absolute;
	border-radius: 12px;
	/* border: 2px solid #4cbd0f; */
    /* background-color:  #1a75ff; */
	/* -moz-box-sizing: border-box; */
	box-sizing: border-box;

	width: 22px;
	height: 22px;
	margin-left: -11px;
	margin-top: 6px;
	z-index: 1;
	/* background: url("common/deadline_icon.png") center no-repeat; */
}

div.actual-end-date:before {
  position: absolute;
  top: -2px;
  left: 5px;
  content:"\e084";
  font-family:"Glyphicons Halflings";
  color:  #b53249;
  /* line-height:1; */
  /* margin:10px; */
  font-size: 22px;
  display:inline-block;
}

div.dc-html-legend {
    word-break: break-all;
}


div.dc-html-legend::-webkit-scrollbar {
    width: 5px;
}

div.dc-html-legend::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #D3D3D3;
}

div.dc-html-legend::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: 1px solid slategrey;
}

.gantt_task_cell.week_end {
    background-color: #e8e8e8;
}

.gantt_task_row.gantt_selected .gantt_task_cell.week_end {
    background-color: #e0e0dd;
}

span[ch='aud_c']:hover,span[ch='aud_c']:focus,span[ch='aud_c']:active,span[ch='aud_c']:active:focus,span[class~='badge-warning'][ch='aud_c']{
    background: #FE992B!important;
    border: 2px solid #FE992B!important; 
    color: white!important;
}

span[ch='rev_c']:hover,span[ch='rev_c']:focus,span[ch='rev_c']:active,span[ch='rev_c']:active:focus,span[class~='badge-warning'][ch='rev_c']{
    background: #04A9F4!important;
    border: 2px solid #04A9F4!important; 
	color: white!important;
}
span[ch='con_c']:hover,span[ch='con_c']:focus,span[ch='con_c']:active,span[ch='con_c']:active:focus,span[class~='badge-warning'][ch='con_c']{
    background: #4CAF50!important;
     border: 2px solid #4CAF50!important; 
    color: white!important;
}